/*@font-face{
    font-family: 'PingFangRegular';
	src: url('fonts/PingFangRegular.ttf');
	src: url('fonts/PingFangRegular.ttf') format('truetype');
	src: url('fonts/SourceHanSansCN-Normal.otf') format('truetype');
	font-weight: normal;
}
@font-face{
    font-family: 'PingFangBold';
	src: url('fonts/PingFangBold.ttf');
	src: url('fonts/PingFangBold.ttf') format('truetype');
	src: url('fonts/SourceHanSansCN-Bold.otf') format('truetype');
	font-weight: bold;
}*/
*{
    box-sizing: border-box;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,p,figure,img{
	font-weight: normal;
	padding: 0;
	margin: 0;
}
ul,li,ol,dl,dt,dd{
	list-style: none;
	padding: 0;
	margin: 0;
	font-weight: normal;
}
button,textarea,input{
	padding: 0;
	margin: 0;
	resize: none;
	overflow:auto;
	font-family: inherit;
}
html{
	height: 100%;
	font-size: 62.5%;
}
body {
	position: relative;
	padding: 0;
	margin: 0;
	font-family: PingFangRegular;
	font-size: 62.5%;
	background: #f2f5fa;
	font-weight: normal;
	line-height: 1;
	color: #666;
    min-height: 100%;
}
img{
	width: 100%;
}
.img-circle{
	border-radius: 50%;
}
*{
    box-sizing: border-box;
}
a,button,input{ 
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);    
   	/*-webkit-user-modify: read-write-plaintext-only;*/
   	outline: none;
   	box-shadow: none;
}
a:link,a:visited,a:hover,a:active{
	text-decoration: none;
}
/*字体*/

.font24darkgray{
	font-size: 1.1rem;
	color: #888;
}
.font26{
	font-size: 1.2rem;
	color: #999;
}
.font26black{
	font-size: 1.2rem;
	color: #222;
}
.font26darkgray{
	font-size: 1.2rem;
	color: #949393;
}
.font26darkblack{
	font-size: 1.2rem;
	color: #494949;
}
.font28darkgray{
	font-size: 1.3rem;
	color: #888;
}
.font28black{
	font-size: 1.3rem;
	color: #222;
}
.font30gray{
	font-size: 1.4rem;
	color: #949393;
}
a.font30black,.font30black{
	font-size: 1.4rem !important;
	color: #736B6B !important;
}
.font32black{
	font-size: 1.5rem;
	color: #222;
}
.font36whitebold{
	font-size: 1.7rem;
	color: #fff;
	font-weight: bold;
}
.font36black{
	font-size: 1.7rem;
	color: #736b6b;
}
/*清除浮动*/
.clearfix:after{
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}
.clearfix{
	zoom: 1;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.bg-white{
	background: #fff;
}
.page-header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 4.3rem;
	line-height: 4.3rem;
	text-align: center;
	background: #8a7eec;
	z-index: 9;
}
.page-content{
	padding-top: 4.3rem;
}
.content-pad{
	padding: 1.5rem 1rem;
}
/*设置icon*/
.header-icon{
	display: inline-block;
	position: absolute;
	right: 0;
	top: 1.2rem;
}
/*返回*/
.header-icon.back{
	left: 0;
	width: 4rem;
	height: 2rem;
	background: url(../img/icon-back.png) no-repeat 1rem top;
	background-size: 1.1rem;
}
/*定位*/
.header-icon.gps{
	width: 4rem;
	height: 2rem;
	background: url(../img/icon-gps.png) no-repeat 1rem center;
	background-size: 2rem;
}
/*地图*/
.header-icon.map{
	width: 4rem;
	height: 1.8rem;
	background: url(../img/icon-list.png) no-repeat 1rem center;
	background-size: 2rem;
}
.text-center{
	text-align: center;
}
.border-bot{
	border-bottom: 1px solid #f3f3f3;
}
.margin-bot-md{
	margin-bottom: 2rem;
}
.margin-bot-sm{
	margin-bottom: 1.5rem;
}
.margin-bot-xs{
	margin-bottom: 1rem;
}
.margin-r-lg{
	margin-right: 2.5rem;
}
.margin-r-sm{
	margin-right: 1.5rem;
}
.margin-r-2{
	margin-right: 2rem;
}
.no-margin{
	margin: 0 !important;
}
.taskhandle-deafault-sublist.pad-r-0{
	padding-right: 0;
}
.task-list-default{
	margin-bottom: 5.2rem;
}
.task-list-item{
	margin-bottom: 1rem;
	background: #fff;
	-moz-box-shadow: 0px 2px 3px #E6E6E6;
	-webkit-box-shadow: 0px 2px 3px #E6E6E6;
	-o-box-shadow: 0px 2px 3px #E6E6E6;
	-ms-box-shadow: 0px 2px 3px #E6E6E6;
	box-shadow: 0px 2px 3px #E6E6E6;
}
.task-item-inner{
	padding: 2rem 1rem;
	position: relative;
}
.info-tit{
	display: inline-block;
	background: url(../img/icon-pipe.png) no-repeat left center;
	background-size: 1.6rem;
	padding-left: 2rem;
	height:1.6rem;
	line-height: 1.8rem;
}
.info-tit.info-user{
	display: block;
}
.inspect-progress{
	height: 1rem;
	overflow: hidden;
	margin: 0 1rem 1rem;
	font-size: 1rem;
	color: #949393;
	line-height: 1rem;
}
.inspect-progress.off{
	background: #FFD526;
}
.inspect-statue{
	position: relative;
	padding-left: 1rem;
	background: #fff;
	margin-left: 50%;
	line-height: 1.1rem;
	background: #efefef;
	height: 100%;
	color: #949393;
}
.inspect-statue.start{
	margin-left: 1rem;
}
.inspect-statue.waitting{
	margin: 0;
	padding-left: 1rem;
}
.inspect-statue.completed{
	margin: 0;
	padding: 0;
	background: none;
	text-align: right;
	color: #fff;
	padding-right: 1.5rem;
}
.info-tit.integrate-inspect{
	background: url(../img/icon-inte.png) no-repeat left center;
	background-size: 1.6rem;
}
/*bot-nav*/
.navigationbar-bot{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 4.4rem;
	background: #fff;
	border-top: 1px solid #F3F3F3;
}
.navigationbar li{
	float: left;
	width: 25%;
	height: 4.4rem;
}
.navigationbar a{
	display: block;
	position: relative;
	padding-top: .6rem;
	width: 100%;
	height: 4.4rem;
	color: #8a7eec;
}
.navigationbar.adminnavigationbar a{
	color: #ed6f70;
}
.navigationbar span.nav-txt{
	position: absolute;
	bottom: .5rem;
	width: 100%;
	font-size: 1rem;
	text-align: center;
}
.navigationbar img{
	display: block;
	height: auto;
	width: 2rem;
	margin: 0 auto;
}
.info-tit.end-time{
	padding-left: 2rem;
	background: url(../img/icon-time.png) no-repeat left center;
	background-size: 1.6rem;
}
.info-tit.info-user{
	padding-left: 2rem;
	background: url(../img/icon-user.png) no-repeat left center;
	background-size: 1.6rem;
}
.taskhandle-deafault{
	margin-bottom: 1rem;
}
.taskhandle-deafault-list{
	position: relative;
	padding-left: 4.1rem;
}
.taskhandle-deafault-sublist{
	position: relative;
	padding: 2rem 1rem 2rem 4rem;
}
.inspect-icon{
	position: absolute;
	left: 1rem;
	top: 1.7rem;
	height: 2.2rem;
	width: 2.2rem;
	background: url(../img/icon-jinggai-lv.png) no-repeat left top;
	background-size: 2.2rem;
}
.inspect-icon.static-jinggai{
	background: url(../img/icon-statisticjinggai-lv.png) no-repeat left center;
	background-size: 2.2rem;
}
.inspect-line{
	position: absolute;
	left: 2.1rem;
	top: 3.9rem;
	height: 100%;
	width: 1px;
	border-left: 1px solid #a9afac;
}
.inspect-icon.inspect-integrate{
	background: url(../img/icon-jinggai-ye.png) no-repeat left top;
	background-size: 3rem;
}
.inspect-icon.static-jinggai.inspect-integrate{
	background: url(../img/icon-statisticjinggai-ye.png) no-repeat left center;
	background-size: 2.1rem;
}
.inspect-icon.inspect-beng{
	background: url(../img/icon-jinggai-zi.png) no-repeat left top;
	background-size: 2.2rem;
}
.info-tit.fault{
	background: url(../img/icon-redfault.png) no-repeat left top;
	background-size: 1.6rem;
	padding-left: 2rem;
}
.user-pic{
	position: absolute;
	left: 1rem;
	top: 1.7rem;
	height: 2.2rem;
	width: 2.2rem;
}
.taskhandle-list-content{
	padding: 2rem 1.5rem 1.5rem 0;
}
.taskhandle-handle .handle-icon{
	float: right;
	width: 1.7rem;
	height: 1.7rem;
	background: url(../img/handle-bg.png) left top;
	background-size: 1.7rem;
}
.taskhandle-handle .handle-fault{
	background: url(../img/handle-bgfault.png) left top;
	background-size: 1.7rem;
}
.taskhandle-info{
	position: relative;
	padding-left: 3.1rem;
	height: 2.1rem;
	line-height: 2.1rem;
	font-size: 1.3rem;
	color: #222;
}
.taskhandle-infoimg{
	position: absolute;
	top: 0;
	left: 0;
	width: 2.1rem;
	height: 2.1rem;
}
.taskhandle-pic{
	padding-right: 3.8rem;
}
.page-row{
	margin-left: -.4rem;
	margin-right: -.4rem;
}
.pipe-img-col4{
	float: left;
	padding: .4rem;
	width: 25%;
	height: 8rem;
}
.pipe-img-col3{
	float: left;
	padding: .4rem;
	width: 33.33333333%;
	height: 8rem;
}
.pipe-img-col3 img,.pipe-img-col4 img{
	height: 7.4rem;
}
.pipe-img img{
	display: block;
	vertical-align:middle;
	width: 100%;
	max-width: 100%;
	height: auto;
	border-radius: 2px;
}
.fault-more{
	display: block;
	background: url(../img/fault-more.png) #fff no-repeat right center;
	background-size: 2.6rem;
}
.org-more{
	display: block;
	background: url(../img/org-more.png) no-repeat right center;
	background-size: 2.6rem;
}
/*报告-损坏选项*/
.chose-option{
	float: left;
	width: 8rem;
	height: 4.4rem;
	line-height: 4.4rem;
	text-align: center;
	background: #F1F1F1;
	border-radius: 5px;
	margin-right: 1rem;
	cursor: pointer;
}
.chose-option.selected{
	color: #48b354;
	background:  #dbf3de ;
}
.statistics-num{
	position: absolute;
	right: 4.5rem;
	top: 37%;
	font-size: 1.8rem;
	color: #666;
}
.progress-blue{
	background: #87C956;
	height: 1rem;
	line-height: 1rem;
	text-align: right;
	width: 50%;
	padding-right: 1.5rem;
	color: #fff;
	font-size: 1.2rem;
}
.progress-blue.brown{
	background: #FFD526;
}
.progress-blue.pink{
	background: #25D0F8;
}
.progress-blue.yellow{
	background: #FF6FB7;
}
/*首页*/
.index-bg{
	background: url(../img/index-bg.jpg) no-repeat top center;
	background-size: 100% 100%;
}
.index-pic{
	padding-top: 15%;
}
.index-logo{
	display: block;
	width: 30%;
	margin: 0 auto 2.2rem;
}
.index-txt{
	display: block;
	width: 36%;
	margin: 0 auto;
}
.user-nav{
	position: absolute;
	bottom: 8%;
	width: 100%;
}
.user-nav li{
	width: 100%;
	text-align: center;
	margin-bottom: 1.5rem;
	height: 4rem;
}
.user-nav li a {
	display: block;
	width: 20rem;
	height: 100%;
	line-height: 4rem;
	margin: 0 auto;
	font-size: 1.5rem;
	text-align: center;
	color:  rgba(255,255,255,0.75);
	border: 1px solid rgba(255,255,255,0.8);
	border-radius: 60rem;
	background: url(../img/icon-index.png) no-repeat .8rem center;
	background-size: 2.4rem;
}
.conversation{
	padding: 5.8rem 1rem 0;
	margin-bottom: 5.2rem;
}
.conversation-time{
	width: 3.6rem;
	margin: 0 auto 1.5rem;
}
.conversation-wrap li{
	margin-bottom: 1.5rem;
	overflow: hidden;
}
.conversation-wrap li img{
	height: 4rem;
	width: auto;
	overflow: hidden;
}
/*超管*/
.administrator-bg{
	background: #ed6f70;
}
.adminnavigationbar li{
	float: left;
	width: 33.333333%;
	height: 4.4rem;
}
.adminnavigationbar img{
	display: block;
	width: auto;
	height: 2rem;
	margin: 0 auto;
}
.adminnavigationbar li a.selected{
	color: #ed6f70;
}
.progress-graybg{
	width: 100%;
	background: #ddd;
}
.progress-blue.shadowyellow{
	background: #FFD526;
	height: 1rem;
}
.progress-blue.green{
	background: #25D0F8;
	height: 1rem;
}
.progress-blue.skyblue{
	background: #87C956;
	height: 1rem;
}
.admin-message{
	margin-left: 1rem;
	padding: .8rem 1rem .8rem 0;
}
.admin-user-img{
	float: left;
	margin-right: 1rem;
	border-radius: 50%;
	width: auto;
	height: 4.5rem;
}
.message-tit{
	line-height: 2.2rem;
}
.statistics-icon{
	display: inline-block;
	padding-left: 3.5rem;
	height: 2.2rem;
	line-height: 2.2rem;
	background: url(../img/icon-statisticjinggai-lv.png) no-repeat left top;
	background-size: 2.2rem;
}
.statistics-icon.integrate{
	background: url(../img/icon-statisticjinggai-ye.png) no-repeat left center;
	background-size: 2.2rem;
}
.org-txt{
	margin-right: 3.7rem;
	font-size: 1.5rem;
	color: #736B6B;
}
.margin-r47{
	margin-right: 3.7rem;
}
.message-sublist{
	margin-left: 1.5rem;
	padding: 1.5rem 0 1.5rem 1.6rem;
	background: url(../img/arrow.png) no-repeat left center;
	background-size: .5rem;
}
.taskhandle-deafault-sublistcover{
	position: relative;
	padding: 2rem 1.5rem 2rem 2.8rem;
	margin-left: 1.5rem;
}
.taskhandle-time{
	margin-top: .6rem;
	font-size: 1.2rem;
	color: #888;
}
.map-content{
	position: absolute;
	top: 0;
	padding-top: 4.3rem;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.map-img{
	overflow-x: scroll;
	overflow-y: scroll;
	height: 100%;
	width: auto;
}
.map-img img{
	/*width: auto;*/
	height: 100%;
}
.map-img.big-map img{
	height: 1000px;
	width: auto;
}
.shurufa{
	background: #fff;
	position: fixed;
	bottom: -1px;
}
